

:root {
    --background-color: #f7f7f7;
    --font-color: #3f3f44;
    --secondary-color: #99d8d0;
    --box-color: #20b2aa;
    --border-color: #778899;
}

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    color: var(--font-color);
  
}

h1 {
    text-align: center;
}

hr{
    margin-bottom: 5rem;
    background-color: var(--border-color);
}

.card {
    border: solid thin var(--border-color);
    width: 35rem;
    margin: auto;
    text-align: center;
}
.pokemon-ul {
    margin-top: 2rem;
    margin-left: none;
  list-style: none;
  text-align: center;
  padding-right: 2rem;


}



.pokedex-container {
    font-size: large;
    background-color: var(--secondary-color);
    width: 25rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5%;
    line-height: 3rem;
    text-transform: capitalize;
}

.pokedex-container:hover {
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s;
}

@media all and (max-width: 500px) {
    .pokedex-container {
       width: 20rem;
        }
  }
  
  @media all and (min-width: 500px) and (max-width: 750px) {
    .pokedex-container {
        width: 17rem;
         }
  
  }